*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
header{
    background-color: #fe6929;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 4px;
}

header form{
    display: flex;
    width: fit-content;
    border-bottom: 1px solid rgb(0, 0, 0);
    
}

input{
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: none;
    outline: none;
    text-align: center;
    padding-right: 4px;
    font-size: 20px;
}

input::placeholder{
    color: black;
}

#btn-salir{
    background-color: transparent;
    border: none;
    color: black;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
    font-weight: bold;
}

#btn-salir:hover{
    transform: scale(1.2) rotate(90deg);
}

.btn-add{
    background-color: #fe6929;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 20px;
    position: fixed;
    right: 12px;
    bottom: 12px;
    font-size: 40px;
    transition: all 0.5s ease-in-out;
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-add:hover{
    background-color: #2dc7ff;
    transform: rotate(180deg);
}

ul{
    list-style: none;
    width: 100%;
    padding: 20px;
}
li{
    box-shadow: 0 0 10px rgba(36, 65, 253, 0.7);
    max-width: 90%;
    padding: 8px;
    min-width: 70%;
    display: flex;
    justify-content: space-between;
}
li h1{
    color: #2dc7ff;
}
li p{
    color: rgb(0, 0, 0);
}
li button{
    color: rgb(220, 33, 33);
    border: none;
    background-color: transparent;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}
.trash{display: block;}
.trash2{display: none;}

li button:hover .trash{
    display: none;
}
li button:hover .trash2{
    display: block;
}